.content {
        padding: 10px;
        margin: 10px auto;
        
        border: 2px solid #999;
    }
    
    .content ul {
      display: table;
      width: 100%;
      padding: 0;
    }

    .content ul li {
      display: table-cell;
      height: 100px;
      line-height: 100px;
      text-align: center;
      border: 1px solid #ccc;
    }

/*这类布局常用浮动布局（给每个li加上float：left属性）实现，但这样做有明显不足：
  1、需要清除浮动
  2、不支持不定高列表的浮动
display：table-cell可以代替浮动布局，但是其不是最好的方法。其他方法有待进一步学习！*/

/*display:table-cell下的列表布局最适用的场景是：
列表个数不固定，但是，无论列表几个，都平分容器空间。
什么意思呢？就是如果4个列表，希望每个宽度25%，3个就33.3333%，2个列表希望每个宽度50%。
此时，没有比display:table-cell更合适的技术了。

父级设置display:table同时宽度为容器宽度，或者直接width:100%，此时，display:table-cell子元素就会自动等分。*/

/*如果想使用display:table的CSS布局来代替浮动布局，权衡来看，不见得有提高。
好的地方在于，不要担心列表元素的高度不一，甚至自动等高。
撇开兼容性不谈，其还有不足在于在后台循环输出时需要水平repeat下，然后再垂直repeat。
既然这样，还不如使用浮动布局，因为在这种情况下，使用浮动也是可以不用担心高度不一的问题的，
这就是facebook好友列表的做法。所以，基本上，
使用display:table的CSS布局来代替浮动布局是完全占据下风的。*/
